.form-inline { position: relative; }

input.form-control {
  border: 1px solid #707070;
  border-radius: 21px;
  color: #707070;
  font-family: Poppins;
  font-size: 12px;
  height: 42px;
  width: 270px;
}

.btn-navbar {
  position: absolute;
  top: 0px;
  right: 8px;
  height: 40px;
  z-index: 10;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
