input.form-control {
  border: 1px solid #707070;
  border-radius: 21px;
  color: #707070;
  font-family: Poppins;
  font-size: 12px;
  height: 42px;
  width: 270px;
}

.btn-navbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
