/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Lato', sans-serif;
  color: #555;
}

.text-bold {

  &,
  &.table td,
  &.table th {
    font-weight: 700;
  }
}

.text-xs {
  font-size: 0.65rem!important;
}

.text-sm {
  font-size: 0.875rem!important;
}

.text-md {
  font-size: 1rem!important;
}

.text-lg {
  font-size: 1.2rem!important;
}

.text-xl {
  font-size: 1.4rem!important;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}

input.form-control.form-control-navbar {}

input.form-control[_ngcontent-fww-c2] {
  border: 1px solid #707070;
  border-radius: 21px;
}

.form-control { border-radius: 21px; }

.dropdown-menu {
  &.dropdown-menu-lg {
    max-width: 300px;
    min-width: 280px;
    padding: 0;
    .dropdown-item {
      padding: .5rem 1rem;
    }
    .dropdown-divider {
      margin: 0;
      height: 0;
      border-top: 1px solid #e9ecef;
    }
  }
  .dropdown-footer,
  .dropdown-header {
    display: block;
    font-size: .875rem;
    text-align: center;
    padding: 8px 16px;
    color: #6c757d;
  }
}
