/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Lato', sans-serif;
  color: #555;
  height: 100%;
}

.text-bold {

  &,
  &.table td,
  &.table th {
    font-weight: 700;
  }
}

.text-xs {
  font-size: 0.65rem!important;
}

.text-sm {
  font-size: 0.875rem!important;
}

.text-md {
  font-size: 1rem!important;
}

.text-lg {
  font-size: 1.2rem!important;
}

.text-xl {
  font-size: 1.4rem!important;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}

input.form-control.form-control-navbar {}

input.form-control[_ngcontent-fww-c2] {
  border: 1px solid #707070;
  border-radius: 21px;
}

.invalid-feedback { font-size: 14px; margin-bottom: 10px; padding-left: 28px; }

.img-bg {
  opacity: 0.33;
}

.img-100vw {
  width: auto;
  height: 100vh;
}

.dropdown-menu {
  &.dropdown-menu-lg {
    max-width: 300px;
    min-width: 280px;
    padding: 0;
    .dropdown-item {
      padding: .5rem 1rem;
    }
    .dropdown-divider {
      margin: 0;
      height: 0;
      border-top: 1px solid #e9ecef;
    }
  }
  .dropdown-footer,
  .dropdown-header {
    display: block;
    font-size: .875rem;
    text-align: center;
    padding: 8px 16px;
    color: #6c757d;
  }
}

// Floating label
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: 27px;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;

}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 8px;
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: 8px;
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 14px;
  color: #e2e2e2;
}

.btn .spinner-border { width: 1rem; height: 1rem; margin-left: 5px; }

.text-login {
  color: #FF5A87;
}
