/* You can add global styles to this file, and also import other style files */
$white: #fff;

// Displays
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-table {
  display: table;
}
.d-table-row {
  display: table-row;
}
.d-table-cell {
  display: table-cell;
}
.d-inline-flex {
  display: inline-flex;
}
// Flex
.flex {
  flex-direction: row!important;
}
.flex-column {
  flex-direction: column!important;
}
.flex-row-reverse {
  flex-direction: row-reverse!important;
}
.flex-column-reverse {
  flex-direction: column-reverse!important;
}

.flex-wrap {
  flex-wrap: wrap!important;
}
.flex-nowrap {
  flex-wrap: nowrap!important;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse!important;
}

// Content
.justify-content-start {
  justify-content: flex-start !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-around {
  justify-content: space-around !important;
}

// Align
.align-items-start {
  align-items: flex-start !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-baseline {
  align-items: baseline !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.align-content-start {
  align-content: flex-start !important;
}
.align-content-end {
  align-content: flex-end !important;
}
.align-content-center {
  align-content: center !important;
}
.align-content-between {
  align-content: space-between !important;
}
.align-content-around {
  align-content: space-around !important;
}
.align-content-stretch {
  align-content: stretch !important;
}
.align-self-auto {
  align-self: auto !important;
}
.align-self-start {
  align-self: flex-start !important;
}
.align-self-end {
  align-self: flex-end !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-baseline {
  align-self: baseline !important;
}
.align-self-stretch {
  align-self: stretch !important;
}

//
// Shadows
//

$box-shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175);

.shadow-sm {
  box-shadow: $box-shadow-sm !important;
}
.shadow {
  box-shadow: $box-shadow !important;
}
.shadow-lg {
  box-shadow: $box-shadow-lg !important;
}
.shadow-none {
  box-shadow: none !important;
}

//
// Border
//

$border-width: 1px;
$border-color: #dee2e6;

.border {
  border: $border-width solid $border-color !important;
}

.border-top {
  border-top: $border-width solid $border-color !important;
}

.border-right {
  border-right: $border-width solid $border-color !important;
}

.border-bottom {
  border-bottom: $border-width solid $border-color !important;
}

.border-left {
  border-left: $border-width solid $border-color !important;
}

.border-0 {
  border: 0 !important;
}
.border-top-0 {
  border-top: 0 !important;
}
.border-right-0 {
  border-right: 0 !important;
}
.border-bottom-0 {
  border-bottom: 0 !important;
}
.border-left-0 {
  border-left: 0 !important;
}
.border-white {
  border-color: $white !important;
}
