<div class="container">
  <div class="search-wrapper" [ngClass]="(results.length)?'hasTable':''">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend" ngbDropdown>
          <button id="dropdownBasic1" ngbDropdownToggle>
            <svg class="bi bi-filter text-white" width="2.5em" height="2.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M7.5 13a.5.5 0 01.5-.5h4a.5.5 0 010 1H8a.5.5 0 01-.5-.5zm-2-3a.5.5 0 01.5-.5h8a.5.5 0 010 1H6a.5.5 0 01-.5-.5zm-2-3a.5.5 0 01.5-.5h12a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"></path>
            </svg>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <!-- <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button> -->
            <div class="row">
              <div class="col-md-3">Search by</div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </div>
        <input type="text" class="form-control" [(ngModel)]="searchBox" (input)="populatesearchOptions(searchBox)" aria-label="search" [placeholder]="'Type something'">
        <div class="input-group-append">
          <button type="submit" (click)="onSearch()">
            <svg class="bi bi-search text-white" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M12.442 12.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"></path>
              <path fill-rule="evenodd" d="M8.5 14a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM15 8.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </div>
      <ul class="search-result" *ngIf="searchOptions$ | async as caseOption">
        <li (click)="addTerm(caseOption)">
          {{ caseOption }}
        </li>
      </ul>
      <ul class="search-pills" *ngIf="terms.length">
        <li class="pills" *ngFor="let term of terms">{{ term }}
          <span (click)="deleteTerm(term)">
            <svg class="bi bi-x" width="1.4em" height="1.4em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.646 5.646a.5.5 0 000 .708l8 8a.5.5 0 00.708-.708l-8-8a.5.5 0 00-.708 0z" clip-rule="evenodd"></path>
              <path fill-rule="evenodd" d="M14.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
            </svg>
          </span>
        </li>
      </ul>
    </div>
    <ng-container *ngIf="results.length">
      <app-table [results]="results" [headers]="[results[0].codes, 'court', 'sentence', 'year']"></app-table>
    </ng-container>
  </div>
</div>
